body {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  min-height: 100vh; /* 画面の高さいっぱいまで広げる */
  margin: 0; /* bodyのデフォルトマージンをリセット */
}

.header {
  background: #000;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.thanks__content {
  margin: auto;
  padding: 10px 25px;
  max-width: 1230px;
  text-align: center;
  width: 100%;
}

.thanks__heading {
  margin-bottom: 40px;
  text-align: center;
}

.thanks__button {
  display: flex;
  width: 100%;
  justify-content: center; /* 水平方向の中央寄せ */
}

.thanks__button-home {
  display:　inline-block;
  padding: 10px 25px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-size: 16px;
  transition: background 0.3s;
}

.thanks__button-home:hover {
  background-color: #444;
}